# Node
node_modules/

# OS
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite

# Build
dist/

# Coverage
coverage/

# Jetbrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
